.app.dark {
    background-color: var(--dark);
    color: var(--veryLight);
  
    .navbar {
        color: var(--veryLight);
        border-color: var(--lightDark);
    
        .search {
            border-color: var(--lightDark);
        }
    }
  
    .sidebar {
        background-color: var(--dark);
        border-color: var(--lightDark);
    
        .top {
            .logo {
                color: var(--veryLight);
            }
        }
        hr {
            border-color: var(--lightDark);
        }
    
        ul {
            li {
                li:hover {
                    background-color: var(--veryLight);
                }
        
                .icon {
                    color: var(--lightDark);
                }
            }
        }

        .logout{
            color: var(--lightDark);
        }
    }
  
    input{
        background-color: transparent;
    }
}