.app.dark {
    background-color: var(--dark);
    color: var(--light);
  
    .sidebar {
        background-color: var(--dark);
        border-color: var(--lightDark);
    
        .top {
            .logo {
                color: var(--light);
            }
        }
        hr {
            border-color: var(--lightDark);
        }
    
        ul {
            li {
                li:hover {
                    background-color: var(--light);
                }
        
                .icon {
                    color: var(--lightDark);
                }
            }
        }

        .logout{
            color: var(--lightDark);
        }
    }

    .homeContainer{
        background-color: var(--dark);

        .navbar {
            color: var(--light);
            border-color: var(--lightDark);
        
            .search {
                border-color: var(--lightDark);
            }
        }

        .widget{
            background-color: var(--light);
            
            .left{
                .title{
                    color: var(--dark);
                }

                .link{
                    border: 1px solid var(--dark);
                    color: var(--dark);
                }

                .linkUser{
                    border: 1px solid var(--dark);
                    color: var(--dark);
                }
            }

            .right{
                .circle{
                    color: var(--dark);
                }
            }
        }
    }
    
    input{
        background-color: transparent;
    }
}