.profileContainer{
    padding: 25px;
    border-radius: 20px;
    box-shadow: 2px 4px 10px 1px var(--light);
    background-color: var(--light);
    color: var(--dark);
}

.infoContainer{
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 4px 10px 1px var(--light);
    background-color: var(--light);
    color: var(--dark);
}