.dailyplan{
    box-shadow: 2px 4px 10px 1px var(--light);
    background-color: var(--light);

    .title{
        font-weight: bold;
        font-size: 20px;
        color: var(--dark);
        margin-top: 10px;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .programs{
        display: flex;
        gap: 20px;

        .program{
            margin-top: 10px;
            color: var(--dark);
            padding: 20px;
            border-radius: 20px;
            box-shadow: 2px 4px 10px 1px var(--veryLight);
            background-color: var(--veryLight);

            .title{
                font-weight: bold;
                font-size: 15px;
                color: var(--dark);
                margin-top: 10px;
                display: flex;
                gap: 10px;
                align-items: center;
            }

            .content {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }              
        }
    }
}