.widget{
    flex: 1;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 4px 10px 1px var(--light);
    background-color: var(--light);

    .left{
        display: flex;
        flex-direction: column;

        .title{
            font-weight: bold;
            font-size: 14px;
            color: var(--dark);
            margin-top: 10px;
            display: flex;
            align-items: center;
        }

        .total {
            font-weight: bold;
            font-size: 14px;
            color: var(--dark);
            font-size: 2rem;
            padding: 5px;
        }
    }

    .right{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--dark);

        svg{
            width: 80px;
            height: 80px;
        }
    }
}

.widget:hover{
    background-color: var(--dark);
    box-shadow: 2px 4px 10px 1px var(--dark);
            
    .left{
        .title{
            color: var(--light);
        }

        .total{
            color: var(--light);
        }

        .linkUser{
            border: 1px solid var(--light);
            color: var(--light);
            }
    }

    .right{
        color: var(--light);
        width: 80px;
        height: 80px;

        .chart{
            width: 100%;
            height: 100%;
        }
    }
}