.widget{
    flex: 1;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    background-color: var(--dark);

    .left{
        display: flex;
        flex-direction: column;
        align-items: center;

        .title{
            font-weight: bold;
            font-size: 14px;
            color: var(--veryLight);
            margin-bottom: 10px;
        }

        .link {
            font-size: 1rem;
            background-color: transparent;
            border: 1px solid var(--veryLight);
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
            color: var(--veryLight);
            transition: background-color 0.3s, color 0.3s;
            cursor: pointer;
        }
    }

    .right{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--veryLight);

        .total {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        svg{
            width: 80px;
            height: 80px;

            .circle{
                stroke: var(--veryLight);
            }
        }
    }
}