.adminPanel{
    display: flex;
    height: 100vh;
    overflow: hidden;

    .homeContainer{
        flex: 6;
        background-color: var(--veryLight);

        .widgets{
            display: flex;
            padding: 12px;
            gap: 20px;
        }

        .container{
            display: flex;
            
            .featured{
                padding: 20px;
                flex: 5;
            }

            .chart{
                padding: 20px;
                flex: 5;
            }
        }

        .programs{
            padding: 20px;
        }
    }
}