.programContainer{
    box-shadow: 2px 4px 10px 1px var(--light);
    background-color: var(--light);
    padding: 25px;
    border-radius: 20px;

    .title{
        font-weight: bold;
        font-size: 20px;
        color: var(--dark);
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    .table{
        padding: 10px;
        margin-top: 20px;
        color: var(--dark);
        
        thead{
            border-bottom: 0.5px solid var(--dark);
        }
    }
}

.programContainer:hover{
    box-shadow: 2px 4px 10px 1px var(--dark);
    background-color: var(--dark);

    .title{
        color: var(--light);
    }

    .table{
        color: var(--light);

        thead{
            border-bottom: 0.5px solid var(--light);
        }
    }
}